<h1>Edit Article</h1>
  <%= form_for [@wiki, @article] do |f| %>
      <%= f.label :title %>
        <%= f.text_field :title %>
          <%= f.label :body %>
          <%= f.text_area :body, rows: 8 %>
        <%= f.submit "Save" %>
  <% end %>

