<h1>Edit Wiki</h1>
    <p>Edit your Wiki here</p>
    <%= form_for @wiki, do |f| %>
      <%= f.label :title %>
        <%= f.text_field :name %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8 %>
      <%= f.submit "Save" %>
    <% end %>


